@page
@model Folha_Pagamento_Web.Models.CargoModel

<!DOCTYPE html>
<html>
<head>
    <title>Cargos</title>
</head>
<body>
    <h1>Cargos</h1>

    <p>
        <a asp-page="/Create">Cadastrar Cargp</a>
    </p>

    @if (Model.Cargos != null && Model.Cargos.Any())
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                  
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cargo in Model.Cargos)
                {
                    <tr>
                        <td>@cargo.Nome</td>
                        <td>
                            <a asp-page="/Edit" asp-route-id="@cargo.Id">Edit</a> |
                            <a asp-page="/Details" asp-route-id="@cargo.Id">Details</a> |
                            <a asp-page="/Delete" asp-route-id="@cargo.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</body>
</html>
